<section class="card-container">
  <div class="card text-white bg-dark card-min-size">
    <div class="card-body">
      <h4 class="card-title">
        <%= @author.name %>
      </h4>
      
      <p>
        <%= @author.age %> years old,
        <%= @author.nationality %>.
      </p>
      
      <%= link_to 'Back', authors_path, :class => 'btn btn-outline-light my-2 my-sm-0' %>
      <%= link_to 'Edit', edit_author_path(@author), :class => 'btn btn-outline-light my-2 my-sm-0' %>
    </div>
  </div>
</section>
