<section class="card-container">
  <div class="card text-white bg-dark card-min-size">
    <div class="card-body">

      <h5 class="card-header text-center text-uppercase">Author</h5>

      <h4 class="card-title text-center">
        <%= @author.name %>
      </h4>

      <p class="card-text text-center">
        <%= @author.age %> years old,
        <%= @author.nationality %>.
      </p>

      <div class="d-flex justify-content-center">
        <%= link_to 'Back', authors_path, :class => 'btn btn-outline-light my-2 my-sm-0 mr-3 ml-3' %>
        <%= link_to 'Edit', edit_author_path(@author), :class => 'btn btn-outline-light my-2 my-sm-0 mr-3 ml-3' %>
      </div>
    </div>
  </div>
</section>