<section class="card-container">
  <div class="card text-white bg-dark card-min-size">
    <div class="card-body">
      <h3 class="card-header text-center">Book</h3>

      <h5 class="card-title">
        <%= @book.name %>
      </h5>

      <p class="card-text">
        <strong>Publisher:</strong>
        <%= @book.publisher %>
      </p>

      <p class="card-text">
        <strong>Author:</strong>
        <%= @book.author.name %>
      </p>

      <%= link_to 'Back', books_path, :class => 'btn btn-outline-light my-2 my-sm-0' %>
      <%= link_to 'Edit', edit_book_path(@book), :class => 'btn btn-outline-light my-2 my-sm-0' %>
    </div>
  </div>
</section>